# Ignore all
*

# Except these
!robot_localization_package/
!robot_localization_package/**
!robot_msgs/
!robot_msgs/**
!robot_worlds/
!robot_worlds/**
!nav2_amcl
!.vscode/
!README.md
!LICENSE
!.gitignore
!.git