# Ignore all
*

# Except these
!robot_localization_package/
!robot_localization_package/**
!robot_msgs/
!robot_msgs/**
!robot_worlds/
!robot_worlds/**
!nav2_amcl/
!nav2_amcl/** 
!robot_waypoint_follower/
!robot_waypoint_follower/** 
!.vscode/
!README.md
!LICENSE
!.gitignore
!.git