<?xml version="1.0" ?>
<robot name="robot">
    <webots>
        <device reference="lidar2D" type="Lidar">
            <ros>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="robot_controller::RobotController" />
        <plugin type="webots_ros2_driver::Ros2RGBD">
            <camera>camera_0</camera>
            <rangeFinder>rangeFinder_0</rangeFinder>
            <topicName>/rgbd_cloud_0</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>rgbd_0</frameName>
        </plugin>
        <plugin type="webots_ros2_driver::Ros2RGBD">
            <camera>camera_1</camera>
            <rangeFinder>rangeFinder_1</rangeFinder>
            <topicName>/rgbd_cloud_1</topicName>  
            <alwaysOn>true</alwaysOn>
            <frameName>rgbd_1</frameName>                                                                       
        </plugin>
    </webots>
</robot>